* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card {
  background: #fff;
  width: 100%;
  max-width: 950px;
  padding: 45px;
  border-radius: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h1 {
  font-size: 40px;
}

.logo h2 {
  color: #2456e4;
  font-size: 22px;
}

.logo p {
  margin-top: 10px;
  font-weight: bold;
  color: #2456e4;
}

.logo span {
  color: #888;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #1c2d72;
}

.input-box {
  display: flex;
  align-items: center;
  background: #eef3ff;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #d7dff5;
}

.icon {
  color: #2456e4;
  margin-right: 10px;
}

.input-box input,
.input-box select {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

.btn-register {
  width: 100%;
  margin-top: 35px;
  padding: 16px;
  border: none;
  background: #1e4fe0;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.btn-register:hover {
  opacity: 0.95;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link span {
  color: #2456e4;
  font-weight: bold;
  cursor: pointer;
}

/* LOGIN */

.login-container {
  min-height: 100vh;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 430px;
  background: white;
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
}

.login-logo {
  text-align: center;
  margin-bottom: 35px;
}

.login-logo h1 {
  font-size: 40px;
}

.login-logo h2 {
  color: #1e4fe0;
  margin-top: 5px;
}

.login-logo p {
  margin-top: 10px;
  font-weight: bold;
  color: #1c2d72;
}

.login-input-box {
  display: flex;
  align-items: center;
  background: #eef3ff;
  border: 1px solid #d8dff5;
  border-radius: 7px;
  padding: 14px;
  margin-bottom: 18px;
}

.login-icon {
  color: #1e4fe0;
  margin-right: 10px;
}

.login-eye {
  color: #1e4fe0;
  cursor: pointer;
}

.login-input-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 13px;
}

.forgot-password {
  text-align: center;
  font-size: 12px;
  color: #1e4fe0;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 15px;
  background: #1e4fe0;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  margin: 25px 0;
  text-align: center;
  position: relative;
}

.separator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
  height: 1px;
  background: #ddd;
}

.separator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 45%;
  height: 1px;
  background: #ddd;
}

.separator span {
  background: white;
  padding: 0 10px;
  color: #999;
}

.register-text {
  text-align: center;
  font-size: 13px;
  margin-bottom: 12px;
}

.register-btn {
  width: 100%;
  padding: 14px;
  border: 1px solid #d8dff5;
  background: white;
  border-radius: 6px;
  color: #1e4fe0;
  cursor: pointer;
}

.mensaje {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: #1e4fe0;
}






.dashboard{
  display:flex;
  min-height:100vh;
  background:#f5f7fb;
}

.sidebar{
  width:240px;
  background:white;
  padding:20px;
  border-right:1px solid #ddd;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  padding:12px;
  margin-bottom:8px;
  cursor:pointer;
  border-radius:8px;
}

.sidebar .active{
  background:#1f57e7;
  color:white;
}

.content{
  flex:1;
  padding:25px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.cards-row{
  display:flex;
  gap:20px;
}

.card{
  background:white;
  border-radius:12px;
  padding:20px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.next-appointment{
  width:300px;
}

.schedule-card{
  flex:1;
}

.hours{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin:15px 0;
}

.hours button{
  padding:8px 15px;
}

.main-btn{
  width:100%;
  background:#1f57e7;
  color:white;
  border:none;
  padding:12px;
  border-radius:8px;
}

.appointments{
  margin-top:25px;
}

.appointment-item{
  background:white;
  padding:15px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.status{
  color:green;
  font-weight:bold;
}

.cancel-btn{
  color:red;
}

.react-calendar{
  width:100%;
  border:none;
  border-radius:10px;
  margin-top:15px;
}

.sin-horarios{
  text-align:center;
  color:#666;
  font-weight:500;
  margin-top:15px;
}

.hora-seleccionada{
  background:#2c7be5 !important;
  color:white !important;
  border:none;
}

.cancel-btn{
  background:#dc3545;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.cancel-btn:hover{
  opacity:.9;
}

.hora-seleccionada{
  background:#0d6efd !important;
  color:white !important;
}